.custom-select {
  width: 430px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  color: #3d3d3d;
  font-family: "Goorm Sans", sans-serif;

  @media (max-width: 767px) {
    width: 200px;
    font-size: 10px;
  }
}
