@import url("https://statics.goorm.io/fonts/GoormSans/v1.0.0/GoormSans.min.css");

.start-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #fdfcfc;
  font-family: "Goorm Sans", sans-serif;
  font-weight: weight;
  font-style: normal;

  .sidebar-area {
    width: 20%;
    height: 100%;
    background-color: #4267b2;
  }

  .content-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;

    .signup-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      overflow-y: auto;
      max-height: calc(100vh - calc(100% / 16));
      height: calc(9 * 100% / 10);
      background-color: #fdfcfc;
      padding: 20px;

      .button-group {
        display: flex;
        gap: 20px;
        width: 100%;
        max-width: 400px;
        justify-content: center;
        margin: 10px 0;

        .action-button {
          flex: 1;
          padding: 12px 20px;
          background-color: white;
          color: #3d3d3d;
          border: solid 1.5px;
          border-radius: 8px;
          cursor: pointer;
          font-size: 14px;
          transition: background-color 0.2s;

          &:hover {
            background-color: rgb(231, 231, 231);
          }
        }
      }

      @media (max-width: 767px) {
        gap: 10px;

        .button-group {
          gap: 10px;

          .action-button {
            padding: 10px 15px;
            font-size: 13px;
          }
        }
      }
    }

    .re-login {
      text-decoration: underline;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;

    .sidebar-area {
      width: 100%;
      height: calc(100% / 9);
      order: 3;
    }

    .content-wrapper {
      width: 100%;
      height: calc(7.15 * 100% / 8);

      .search-area {
        height: calc(100% / 8);
      }

      .signup-area {
        height: calc(7 * 100% / 7);
      }
      .re-login {
        font-size: 13px;
      }
    }
  }
}
